<section
  id="thumbnail-carousel"
  class="splide"
  aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel."
>
  <div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">
				<img src="/img/fluor.svg" alt="image">
			</li>
			<li class="splide__slide">
				<img src="/img/julius-berger.svg" alt="image">
			</li>
			<li class="splide__slide">
				<img src="/img/remedy.svg" alt="">
			</li>
		</ul>
  </div>
</section>