<!DOCTYPE html>
<html lang="en">
    <head>       
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/about.css">
        <link rel="stylesheet" href="./styles/style.css" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <title>Project Page</title>
    </head>
<body>
    <div>
        <%- include('./partials/nav.ejs')%>
        <main class="w-full h-[60vh] bg-[#001f3f] py-[8%] md:py-[16%]">
        <div class="md:flex w-1/2">
            <div class="line w-[9%] bg-[#ffc631] my-2"></div>
            <div class="w-[60%] pb-10 relative">
            <p class="text-white font-medium md:mx-3">BUILDING COMMUNITIES.</p>
            <h1 class="text-white font-bold text-6xl py-2">Projects</h1>
            <ul class="flex items-center my-5 text-white">
                <li class="">
                    <a href="/">Home</a>
                </li>
                <div class="w-[7%] h-[2px] bg-white mx-5"></div>
                <li>
                    <a href="/project">Projects</a>
                </li>
            </ul>
            </div>
        </div>
        </main>
        <section class="w-full bg-white">
            <div class="md:w-[87%] mx-auto md:py-[100px]">
              <div class="flex items-center">
                <div class="h-[2px] w-[4%] bg-[#ffc631]"></div>
                <p class="mx-2 font-semibold text-black">WHAT WE DO</p>
              </div>
              <h2 class="text-[42px] leading-tight my-5 font-bold text-black">Our <span class="text-[#0da574]">Projects</span></h2>
              <div class="grid md:grid-cols-2 gap-10 my-4">
                <div class="">
                  <div class="parent bg-img1 bg-no-repeat bg-cover bg-center bg-fixed overflow-hidden">
                    <div class="child"></div>
                  </div>
                  <div>
                    <h3 class="text-black text-2xl font-bold py-3">Process Engineering</h3>
                    <hr>
                    <div class="flex justify-between items-center my-3">
                      <div class="flex items-center">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAACR0lEQVRIidWUP2gTcRTHP+8u6Z8lLaKbizZdJbkE1BQUsThJRQRbUXGLltZFHEREUOqqixS6+QccbCkUih1FIafYJqZrbd10qpAOFr02v+dwFynkrrlaB33D7+D93vt8v4/f8eB/D2lVoAu5vXjmOnAaSAfpT6jM0i6PJV9e/WMBdZ2zoE+AVETJGqpXpK86E8WwWsCnfLjOonISs57CrKeAfoRXQBci01rKnNnRBPo2u48Ey0AKkTtytPIg3ET2LnAPqGEn03L4w7d4E9gy0nDegOvrTLe6TlFdp6gLuS4AKXy8D8wB3dQ3RsJQ4QLCgG/RetSA0y4V0AnQCbx6pSGC8DDoGogvgPb4n+/zAHTIEHBgi4ODeDoIQNKaD5JpQiLqkTf8s9P2hcQ0VYjxc96PoCboiSmwFDjPA/DTvAT9vOV+haQ96YMTfo0EPTEF5gAwDALIiWqNNttBtYhqkTYrJ/nymk+QoWCCuTBQ+G/qOmnQJcAD0yOFxS+hde8P7cfYK0AStXqlr7wSawIpVJZBZoB21LoRMSWYxE2gDWE6DB4pENyMAYowrKVcT7P7TC/oVcBgdCwaExFypFIGngOdiI43u5dxoAPRp9JXre5YAIBN6xZQAz2lbvbCb/cl5xLQj78ibm+HaL2uS9nLCM+AGkoGu17H2IvAHtCLUqi+2JUAgL7LTqGcA94EPcdAJqVQOd+qNxFHgKR1Dc8UgONB5it2YjhO6/ZvEITky6vBBB6wiZGhsNW861DXGVXXGf3r4H86fgFD/s36HlSSaQAAAABJRU5ErkJggg==" alt="icon">
                        <p class="text-black ml-2 text-[18px] font-light">Senectus et netus et malesuada. Nunc pulvina</p>
                      </div>
                      <div class="flex items-center">
                        <a class="flex items-center text-[#0da574] uppercase my-4" href="">Details</a>
                        <img class="w-5 h-5 ml-2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAtUlEQVRIie2UMQrCQBBF3wTBZnMnz6FYSxqxWG+RIthEa02OId4p6cdKUJFldhMFIa8e/tudGQYm/hNFUMRSOksJd62vRJl3WhYIGio3veIZd/YLybgConDol+UuJMliBf26vKlQACqwzRtfh9oV/YMHrvUbUWpAUE7d6nO7kgVWySCBRfIiyBsf3AgTb5LoIcfy2xaNHT5I8NU1tYYnCWJPRTyKuGZf5Rd/tF7UJMn3wifG5g5rxmZbR8oZFgAAAABJRU5ErkJggg==" alt="icon">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="parent bg-img1 bg-no-repeat bg-cover bg-center bg-fixed overflow-hidden">
                    <div class="child1"></div>
                  </div>
                  <div>
                    <h3 class="text-black text-2xl font-bold py-3">Process Engineering</h3>
                    <hr>
                    <div class="flex justify-between items-center my-3">
                      <div class="flex items-center">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAACR0lEQVRIidWUP2gTcRTHP+8u6Z8lLaKbizZdJbkE1BQUsThJRQRbUXGLltZFHEREUOqqixS6+QccbCkUih1FIafYJqZrbd10qpAOFr02v+dwFynkrrlaB33D7+D93vt8v4/f8eB/D2lVoAu5vXjmOnAaSAfpT6jM0i6PJV9e/WMBdZ2zoE+AVETJGqpXpK86E8WwWsCnfLjOonISs57CrKeAfoRXQBci01rKnNnRBPo2u48Ey0AKkTtytPIg3ET2LnAPqGEn03L4w7d4E9gy0nDegOvrTLe6TlFdp6gLuS4AKXy8D8wB3dQ3RsJQ4QLCgG/RetSA0y4V0AnQCbx6pSGC8DDoGogvgPb4n+/zAHTIEHBgi4ODeDoIQNKaD5JpQiLqkTf8s9P2hcQ0VYjxc96PoCboiSmwFDjPA/DTvAT9vOV+haQ96YMTfo0EPTEF5gAwDALIiWqNNttBtYhqkTYrJ/nymk+QoWCCuTBQ+G/qOmnQJcAD0yOFxS+hde8P7cfYK0AStXqlr7wSawIpVJZBZoB21LoRMSWYxE2gDWE6DB4pENyMAYowrKVcT7P7TC/oVcBgdCwaExFypFIGngOdiI43u5dxoAPRp9JXre5YAIBN6xZQAz2lbvbCb/cl5xLQj78ibm+HaL2uS9nLCM+AGkoGu17H2IvAHtCLUqi+2JUAgL7LTqGcA94EPcdAJqVQOd+qNxFHgKR1Dc8UgONB5it2YjhO6/ZvEITky6vBBB6wiZGhsNW861DXGVXXGf3r4H86fgFD/s36HlSSaQAAAABJRU5ErkJggg==" alt="icon">
                        <p class="text-black ml-2 text-[18px] font-light">Senectus et netus et malesuada. Nunc pulvina</p>
                      </div>
                      <div class="flex items-center">
                        <a class="flex items-center text-[#0da574] uppercase my-4" href="">Details</a>
                        <img class="w-5 h-5 ml-2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAtUlEQVRIie2UMQrCQBBF3wTBZnMnz6FYSxqxWG+RIthEa02OId4p6cdKUJFldhMFIa8e/tudGQYm/hNFUMRSOksJd62vRJl3WhYIGio3veIZd/YLybgConDol+UuJMliBf26vKlQACqwzRtfh9oV/YMHrvUbUWpAUE7d6nO7kgVWySCBRfIiyBsf3AgTb5LoIcfy2xaNHT5I8NU1tYYnCWJPRTyKuGZf5Rd/tF7UJMn3wifG5g5rxmZbR8oZFgAAAABJRU5ErkJggg==" alt="icon">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="parent bg-img1 bg-no-repeat bg-cover bg-center bg-fixed overflow-hidden">
                    <div class="child2"></div>
                  </div>
                  <div>
                    <h3 class="text-black text-2xl font-bold py-3">Process Engineering</h3>
                    <hr>
                    <div class="flex justify-between items-center my-3">
                      <div class="flex items-center">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAACR0lEQVRIidWUP2gTcRTHP+8u6Z8lLaKbizZdJbkE1BQUsThJRQRbUXGLltZFHEREUOqqixS6+QccbCkUih1FIafYJqZrbd10qpAOFr02v+dwFynkrrlaB33D7+D93vt8v4/f8eB/D2lVoAu5vXjmOnAaSAfpT6jM0i6PJV9e/WMBdZ2zoE+AVETJGqpXpK86E8WwWsCnfLjOonISs57CrKeAfoRXQBci01rKnNnRBPo2u48Ey0AKkTtytPIg3ET2LnAPqGEn03L4w7d4E9gy0nDegOvrTLe6TlFdp6gLuS4AKXy8D8wB3dQ3RsJQ4QLCgG/RetSA0y4V0AnQCbx6pSGC8DDoGogvgPb4n+/zAHTIEHBgi4ODeDoIQNKaD5JpQiLqkTf8s9P2hcQ0VYjxc96PoCboiSmwFDjPA/DTvAT9vOV+haQ96YMTfo0EPTEF5gAwDALIiWqNNttBtYhqkTYrJ/nymk+QoWCCuTBQ+G/qOmnQJcAD0yOFxS+hde8P7cfYK0AStXqlr7wSawIpVJZBZoB21LoRMSWYxE2gDWE6DB4pENyMAYowrKVcT7P7TC/oVcBgdCwaExFypFIGngOdiI43u5dxoAPRp9JXre5YAIBN6xZQAz2lbvbCb/cl5xLQj78ibm+HaL2uS9nLCM+AGkoGu17H2IvAHtCLUqi+2JUAgL7LTqGcA94EPcdAJqVQOd+qNxFHgKR1Dc8UgONB5it2YjhO6/ZvEITky6vBBB6wiZGhsNW861DXGVXXGf3r4H86fgFD/s36HlSSaQAAAABJRU5ErkJggg==" alt="icon">
                        <p class="text-black ml-2 text-[18px] font-light">Senectus et netus et malesuada. Nunc pulvina</p>
                      </div>
                      <div class="flex items-center">
                        <a class="flex items-center text-[#0da574] uppercase my-4" href="">Details</a>
                        <img class="w-5 h-5 ml-2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAtUlEQVRIie2UMQrCQBBF3wTBZnMnz6FYSxqxWG+RIthEa02OId4p6cdKUJFldhMFIa8e/tudGQYm/hNFUMRSOksJd62vRJl3WhYIGio3veIZd/YLybgConDol+UuJMliBf26vKlQACqwzRtfh9oV/YMHrvUbUWpAUE7d6nO7kgVWySCBRfIiyBsf3AgTb5LoIcfy2xaNHT5I8NU1tYYnCWJPRTyKuGZf5Rd/tF7UJMn3wifG5g5rxmZbR8oZFgAAAABJRU5ErkJggg==" alt="icon">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="parent bg-img1 bg-no-repeat bg-cover bg-center bg-fixed overflow-hidden">
                    <div class="child3"></div>
                  </div>
                  <div>
                    <h3 class="text-black text-2xl font-bold py-3">Process Engineering</h3>
                    <hr>
                    <div class="flex justify-between items-center my-3">
                      <div class="flex items-center">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAACR0lEQVRIidWUP2gTcRTHP+8u6Z8lLaKbizZdJbkE1BQUsThJRQRbUXGLltZFHEREUOqqixS6+QccbCkUih1FIafYJqZrbd10qpAOFr02v+dwFynkrrlaB33D7+D93vt8v4/f8eB/D2lVoAu5vXjmOnAaSAfpT6jM0i6PJV9e/WMBdZ2zoE+AVETJGqpXpK86E8WwWsCnfLjOonISs57CrKeAfoRXQBci01rKnNnRBPo2u48Ey0AKkTtytPIg3ET2LnAPqGEn03L4w7d4E9gy0nDegOvrTLe6TlFdp6gLuS4AKXy8D8wB3dQ3RsJQ4QLCgG/RetSA0y4V0AnQCbx6pSGC8DDoGogvgPb4n+/zAHTIEHBgi4ODeDoIQNKaD5JpQiLqkTf8s9P2hcQ0VYjxc96PoCboiSmwFDjPA/DTvAT9vOV+haQ96YMTfo0EPTEF5gAwDALIiWqNNttBtYhqkTYrJ/nymk+QoWCCuTBQ+G/qOmnQJcAD0yOFxS+hde8P7cfYK0AStXqlr7wSawIpVJZBZoB21LoRMSWYxE2gDWE6DB4pENyMAYowrKVcT7P7TC/oVcBgdCwaExFypFIGngOdiI43u5dxoAPRp9JXre5YAIBN6xZQAz2lbvbCb/cl5xLQj78ibm+HaL2uS9nLCM+AGkoGu17H2IvAHtCLUqi+2JUAgL7LTqGcA94EPcdAJqVQOd+qNxFHgKR1Dc8UgONB5it2YjhO6/ZvEITky6vBBB6wiZGhsNW861DXGVXXGf3r4H86fgFD/s36HlSSaQAAAABJRU5ErkJggg==" alt="icon">
                        <p class="text-black ml-2 text-[18px] font-light">Senectus et netus et malesuada. Nunc pulvina</p>
                      </div>
                      <div class="flex items-center">
                        <a class="flex items-center text-[#0da574] uppercase my-4" href="">Details</a>
                        <img class="w-5 h-5 ml-2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAtUlEQVRIie2UMQrCQBBF3wTBZnMnz6FYSxqxWG+RIthEa02OId4p6cdKUJFldhMFIa8e/tudGQYm/hNFUMRSOksJd62vRJl3WhYIGio3veIZd/YLybgConDol+UuJMliBf26vKlQACqwzRtfh9oV/YMHrvUbUWpAUE7d6nO7kgVWySCBRfIiyBsf3AgTb5LoIcfy2xaNHT5I8NU1tYYnCWJPRTyKuGZf5Rd/tF7UJMn3wifG5g5rxmZbR8oZFgAAAABJRU5ErkJggg==" alt="icon">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="">
                    <div class="parent bg-img1 bg-no-repeat bg-cover bg-center bg-fixed overflow-hidden">
                      <div class="child2"></div>
                    </div>
                    <div>
                      <h3 class="text-black text-2xl font-bold py-3">Process Engineering</h3>
                      <hr>
                      <div class="flex justify-between items-center my-3">
                        <div class="flex items-center">
                          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAACR0lEQVRIidWUP2gTcRTHP+8u6Z8lLaKbizZdJbkE1BQUsThJRQRbUXGLltZFHEREUOqqixS6+QccbCkUih1FIafYJqZrbd10qpAOFr02v+dwFynkrrlaB33D7+D93vt8v4/f8eB/D2lVoAu5vXjmOnAaSAfpT6jM0i6PJV9e/WMBdZ2zoE+AVETJGqpXpK86E8WwWsCnfLjOonISs57CrKeAfoRXQBci01rKnNnRBPo2u48Ey0AKkTtytPIg3ET2LnAPqGEn03L4w7d4E9gy0nDegOvrTLe6TlFdp6gLuS4AKXy8D8wB3dQ3RsJQ4QLCgG/RetSA0y4V0AnQCbx6pSGC8DDoGogvgPb4n+/zAHTIEHBgi4ODeDoIQNKaD5JpQiLqkTf8s9P2hcQ0VYjxc96PoCboiSmwFDjPA/DTvAT9vOV+haQ96YMTfo0EPTEF5gAwDALIiWqNNttBtYhqkTYrJ/nymk+QoWCCuTBQ+G/qOmnQJcAD0yOFxS+hde8P7cfYK0AStXqlr7wSawIpVJZBZoB21LoRMSWYxE2gDWE6DB4pENyMAYowrKVcT7P7TC/oVcBgdCwaExFypFIGngOdiI43u5dxoAPRp9JXre5YAIBN6xZQAz2lbvbCb/cl5xLQj78ibm+HaL2uS9nLCM+AGkoGu17H2IvAHtCLUqi+2JUAgL7LTqGcA94EPcdAJqVQOd+qNxFHgKR1Dc8UgONB5it2YjhO6/ZvEITky6vBBB6wiZGhsNW861DXGVXXGf3r4H86fgFD/s36HlSSaQAAAABJRU5ErkJggg==" alt="icon">
                          <p class="text-black ml-2 text-[18px] font-light">Senectus et netus et malesuada. Nunc pulvina</p>
                        </div>
                        <div class="flex items-center">
                          <a class="flex items-center text-[#0da574] uppercase my-4" href="">Details</a>
                          <img class="w-5 h-5 ml-2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAtUlEQVRIie2UMQrCQBBF3wTBZnMnz6FYSxqxWG+RIthEa02OId4p6cdKUJFldhMFIa8e/tudGQYm/hNFUMRSOksJd62vRJl3WhYIGio3veIZd/YLybgConDol+UuJMliBf26vKlQACqwzRtfh9oV/YMHrvUbUWpAUE7d6nO7kgVWySCBRfIiyBsf3AgTb5LoIcfy2xaNHT5I8NU1tYYnCWJPRTyKuGZf5Rd/tF7UJMn3wifG5g5rxmZbR8oZFgAAAABJRU5ErkJggg==" alt="icon">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <div class="parent bg-img1 bg-no-repeat bg-cover bg-center bg-fixed overflow-hidden">
                      <div class="child3"></div>
                    </div>
                    <div>
                      <h3 class="text-black text-2xl font-bold py-3">Process Engineering</h3>
                      <hr>
                      <div class="flex justify-between items-center my-3">
                        <div class="flex items-center">
                          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAACR0lEQVRIidWUP2gTcRTHP+8u6Z8lLaKbizZdJbkE1BQUsThJRQRbUXGLltZFHEREUOqqixS6+QccbCkUih1FIafYJqZrbd10qpAOFr02v+dwFynkrrlaB33D7+D93vt8v4/f8eB/D2lVoAu5vXjmOnAaSAfpT6jM0i6PJV9e/WMBdZ2zoE+AVETJGqpXpK86E8WwWsCnfLjOonISs57CrKeAfoRXQBci01rKnNnRBPo2u48Ey0AKkTtytPIg3ET2LnAPqGEn03L4w7d4E9gy0nDegOvrTLe6TlFdp6gLuS4AKXy8D8wB3dQ3RsJQ4QLCgG/RetSA0y4V0AnQCbx6pSGC8DDoGogvgPb4n+/zAHTIEHBgi4ODeDoIQNKaD5JpQiLqkTf8s9P2hcQ0VYjxc96PoCboiSmwFDjPA/DTvAT9vOV+haQ96YMTfo0EPTEF5gAwDALIiWqNNttBtYhqkTYrJ/nymk+QoWCCuTBQ+G/qOmnQJcAD0yOFxS+hde8P7cfYK0AStXqlr7wSawIpVJZBZoB21LoRMSWYxE2gDWE6DB4pENyMAYowrKVcT7P7TC/oVcBgdCwaExFypFIGngOdiI43u5dxoAPRp9JXre5YAIBN6xZQAz2lbvbCb/cl5xLQj78ibm+HaL2uS9nLCM+AGkoGu17H2IvAHtCLUqi+2JUAgL7LTqGcA94EPcdAJqVQOd+qNxFHgKR1Dc8UgONB5it2YjhO6/ZvEITky6vBBB6wiZGhsNW861DXGVXXGf3r4H86fgFD/s36HlSSaQAAAABJRU5ErkJggg==" alt="icon">
                          <p class="text-black ml-2 text-[18px] font-light">Senectus et netus et malesuada. Nunc pulvina</p>
                        </div>
                        <div class="flex items-center">
                          <a class="flex items-center text-[#0da574] uppercase my-4" href="">Details</a>
                          <img class="w-5 h-5 ml-2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAtUlEQVRIie2UMQrCQBBF3wTBZnMnz6FYSxqxWG+RIthEa02OId4p6cdKUJFldhMFIa8e/tudGQYm/hNFUMRSOksJd62vRJl3WhYIGio3veIZd/YLybgConDol+UuJMliBf26vKlQACqwzRtfh9oV/YMHrvUbUWpAUE7d6nO7kgVWySCBRfIiyBsf3AgTb5LoIcfy2xaNHT5I8NU1tYYnCWJPRTyKuGZf5Rd/tF7UJMn3wifG5g5rxmZbR8oZFgAAAABJRU5ErkJggg==" alt="icon">
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </section>
          <%- include('./partials/footer.ejs') %>
    </div>
</body>
</html>